html {
    height: 100%;
}
body {
    height: 100%;
}


.jumbotron {
    color: white;
    padding: 0px;
    margin: 0px;
    background-color: #ffd78c;
    position: relative;
    height: 25%;
}

.panel-footer {
    color: white;
    background-color: #ffd78c;
    min-height: 50px;

}

.btn {
    border-radius: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: none;
    padding: 12px 22px;
    border: 2px solid #0099cc;
    color: #0099cc;
}

.input-group {
    font-weight: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffd78c;
    border: 2px solid #ffd78c;
    color: #0099cc;
}


.mycontent-right {
    border-left: 5px dashed #ffd78c;
}


h1 {
    color:white;
    text-align:center;
    font-size:40px;
}

h2 {
    color:darkorange;
    text-align:center;
    font-size:40px;
}

p {
    color: #726551;
}

a {
    color: orange;
    font-weight: bold;
    text-decoration: none;

}

a:visited {
    color: coral;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

img {
    position: relative;
}