.jumbotron {
    color: darkgreen;
    background-color: yellowgreen;
    text-align: center;
}
button {
    border-radius: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    background: none;
    padding: 5px 5px;
    border: 2px solid hotpink;
    color: hotpink;
}

.input-group {
    font-weight: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffd78c;
    border: 2px solid hotpink;
    color: hotpink;
}
p {
    color:darkgreen;
}

h1{
    color: darkgreen;
}

.panel-footer {
    color: darkgreen;
    background-color: yellowgreen;
    text-align: center;
    position: center;

}